<template>
  <article class="media">
  <figure class="media-left">
    <p class="image is-64x64">
      <img src="https://bulma.io/images/placeholders/128x128.png">
    </p>
  </figure>
  <div class="media-content">
    <div class="content">
      <p>
        <strong>{{comments.id}}</strong>
        <br>
        {{comments.text}}
        <br>
        <small><a>Like</a> · <a @click="replyShow=!replyShow">Reply</a> · 3 hrs</small>
      </p>
      <CommentReply v-if="replyShow" @replied="onReply" />
    </div>
    <slot name="nexttree"></slot>
  </div>
  </article>
</template>

<script>
import { mapActions } from 'vuex';
import CommentReply from './CommentReply.vue';

export default {
  name: 'CommentItem',
  props: ['comments'],
  components: { CommentReply },
  data() {
    return {
      replyShow: false,
    };
  },
  methods: {
    ...mapActions([
      'addReply',
    ]),
    onReply(ReplyText) {
      this.replyShow = false;
      this.addReply({
        id: Math.floor(Math.random() * 1000) + 1,
        text: ReplyText,
        parentid: this.comments.id,
      });
    },
  },
};
</script>
