<template>
  <CommentItem :comments="comments">
    <template v-slot:nexttree>
      <CommentsTree v-for="child in comments.children"
                    :key="child.id"
                    :comments="child" />
    </template>
  </CommentItem>
</template>

<script>
import CommentItem from './CommentItem.vue';

export default {
  name: 'CommentsTree',
  components: { CommentItem },
  props: {
    comments: { type: Object, required: true },
  },
};
</script>
