<template>
  <div>
    <CommentReply @replied="onReply"/>
    <template v-for='comment in treedComments' >
      <CommentsTree :comments="comment" :key="comment.id" />
    </template>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';

import CommentReply from './CommentReply.vue';
import CommentsTree from './CommentsTree.vue';

export default {
  name: 'Comments',
  components: {
    CommentsTree,
    CommentReply,
  },
  computed: {
    ...mapGetters([
      'treedComments',
    ]),
  },
  methods: {
    ...mapActions([
      'addReply',
    ]),
    onReply(ReplyText) {
      this.replyShow = false;
      this.addReply({
        id: Math.floor(Math.random() * 1000) + 1,
        text: ReplyText,
      });
    },
  },
};
</script>
