<template>
  <div>
    <Comments />
  </div>
</template>

<script>
import Comments from '../components/comments/Comments.vue';

export default {
  name: 'CommentsView',
  components: {
    Comments,
  },
};
</script>
